[Desktop Entry]
Encoding=UTF-8
Name=Ecoin
Comment=Ecoin P2P Cryptocurrency
Comment[fr]=Ecoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Ecoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/ecoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/ecoin;
Categories=Office;
