IDI_ICON1 ICON DISCARDABLE "icons/ecoin.ico"

#include <windows.h>             // needed for VERSIONINFO
#include "../../clientversion.h" // holds the needed client version information

#define VER_PRODUCTVERSION     CLIENT_VERSION_MAJOR,CLIENT_VERSION_MINOR,CLIENT_VERSION_REVISION,CLIENT_VERSION_BUILD
#define VER_PRODUCTVERSION_STR STRINGIZE(CLIENT_VERSION_MAJOR) "." STRINGIZE(CLIENT_VERSION_MINOR) "." STRINGIZE(CLIENT_VERSION_REVISION) "." STRINGIZE(CLIENT_VERSION_BUILD)
#define VER_FILEVERSION        VER_PRODUCTVERSION
#define VER_FILEVERSION_STR    VER_PRODUCTVERSION_STR

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_PRODUCTVERSION
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4" // U.S. English - multilingual (hex)
        BEGIN
            VALUE "CompanyName",        "Ecoin"
            VALUE "FileDescription",    "Ecoin-Qt (OSS GUI client for Ecoin)"
            VALUE "FileVersion",        VER_FILEVERSION_STR
            VALUE "InternalName",       "ecoin-qt"
            VALUE "LegalCopyright",     "2014-2026 The Ecoin developers"
            VALUE "LegalTrademarks1",   "Distributed under the GPLv3 software license"
            VALUE "OriginalFilename",   "ecoin-qt.exe"
            VALUE "ProductName",        "Ecoin-Qt"
            VALUE "ProductVersion",     VER_PRODUCTVERSION_STR
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1252 // language neutral - multilingual (decimal)
    END
END
